<%# The title is set in the controller %>
<h1><%= title %></h1>

<%# Display any messages passed through connect-flash %>
<% if (messages.notice) { %><div class="notice"><p><%= messages.notice %></p></div><% } else if (messages.error) { %><div class="notice error"><p><%= messages.error %></p></div><% } %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<h2>Welcome <%= locals.accountData.account_firstname %></h2>

<p>You're logged in.</p>

<p><a href="/account/update/<%= locals.accountData.account_id %>">Update Account Information</a></p>

<% if (locals.accountData.account_type === 'Employee' || locals.accountData.account_type === 'Admin') { %>
    <h3>Inventory Management</h3>
    <p>Use the link below to manage the inventory.</p>
    <p><a href="/inv/">Manage Inventory</a></p>
<% } %>