<div class="page-container">
  <h1 class="page-title"><%= title %></h1>

  <% if (messages.notice) { %><div class="notice"><p><%= messages.notice %></p></div><% } else if (messages.error) { %><div class="notice error"><p><%= messages.error %></p></div><% } %>

  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <%  }) %>
    </ul>
  <% } %>

  <div class="form-card">
    <table id="inventoryDisplay">
      <thead>
        <tr>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% history.forEach(entry => { %>
          <tr>
            <td><%= new Date(entry.password_change_date).toLocaleString() %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>