<%# The title is set in the controller %>
<h1><%= title %></h1>

<%# Display any messages passed through connect-flash %>
<% if (messages.notice) { %><div class="notice"><p><%= messages.notice %></p></div><% } else if (messages.error) { %><div class="notice error"><p><%= messages.error %></p></div><% } %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<form id="updateAccountForm" action="/account/update-info" method="post">
    <fieldset>
        <legend>Update Account Information</legend>
        <label for="account_firstname">First Name:</label>
        <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>">
        
        <label for="account_lastname">Last Name:</label>
        <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname %>">

        <label for="account_email">Email:</label>
        <input type="email" id="account_email" name="account_email" required value="<%= locals.account_email %>">

        <button type="submit">Update Account</button>
        <input type="hidden" name="account_id" value="<%= locals.account_id %>">
    </fieldset>
</form>

<form id="updatePasswordForm" action="/account/update-password" method="post">
    <fieldset>
        <legend>Update Password</legend>
        <label for="account_password">New Password:</label>
        <input type="password" id="account_password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <button type="submit">Update Password</button>
        <input type="hidden" name="account_id" value="<%= locals.account_id %>">
    </fieldset>
</form>